<!-- Main Content -->
<div class="flex items-center justify-center h-screen">
  <a href="https://github.com/arbi-jridi/twitsh-streams" target="_blank" title="code source"><p class="text-center text-2xl text-blue-300">
    <img src="assets/twitsh.png"  roundedCercle alt="" style="height: 100px;width: auto; justify-items: center;">Twitsh: A video-Stream web App built with Angular & firebase developed by Arbi Jridi 
     
      <span class="material-icons text-center text-3xl p-3 animate-pulse" style="color: white;">
        code
      </span>
    </p>
    </a>
</div>